﻿
h1 {
    color: #fff;
    font: 40px Georgia;
    text-align: center;
    padding-top: 10px;
}

h2 {
    text-align: center;
}

.headimg {
    position: absolute;
    top: 5px;
    left: 20px;
    height: 60px;
    width: 60px;
}

header {
    width: 100%;
    height: 10%;
    background-color: #1a1a1a;
    position: fixed;
    z-index: 2;
}

.main {
    width: 100%;
    height: auto;
}

.mainbody {
    padding-top: 100px;
    width: 80%;
    margin: auto;
    height: auto;
}

#content {
    float: left;
    width: 80%;
    background-color: #cccccc;
    border-radius: 40px;
    margin-bottom: 100px;
}

#navbar {
    float: right;
    width: 20%;
    background-color: #cccccc;
    border-radius: 40px;
}

#innercontent {
    padding-left: 10px;
    padding-right: 10px;
    padding: 25px;
}

#innernavbar {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:hover {
    color: red;
}

footer {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #1a1a1a;
    color: #fff;
    width: 100%;
    text-align: center;
}

.foota {
    color: aqua;
}


.my_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.my_menu li {
    margin: 0;
    padding: 0;
    position: relative;
}

.my_menu li a {
    color: blueviolet;
    display: block;
    margin: 0;
    padding: 12px 20px;
    text-decoration: none;
}

.my_menu li a:hover {
    color: red;
}