﻿@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Index.css")


<h1 class="articlestitle">Articles</h1>

@foreach (var item in ViewBag.Articles)
{
    <div class="article">
        <h2 class="topic">@item.Item1</h2><p>@item.Item2</p>
        <p>@item.Item3</p>
    </div>
}


@section Footer {
    <div>
        Icons made by
        <a class="foota" href="https://www.freepik.com" title="Freepik">Freepik</a>
        from <a class="foota" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>

}